@font-face {
  font-family: $global-font-icon;
  src:url("../fonts/iconsfont..eot");
  src:url("../fonts/iconsfont.?#iefix") format("embedded-opentype"),
    url("../fonts/iconsfont.woff") format("woff"),
    url("../fonts/iconsfont.ttf") format("truetype"),
    url("../fonts/iconsfont.#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icons {
  font-family: $global-font-icon;

  &:before {
    /* Some common icon stuff */
  }

  &.icon-call {
    &:before {
      content: $icon-call;
    }
  }
  &.icon-facebook {
    &:before {
      content: $icon-facebook;
    }
  }

}