@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		 url("../fonts/OpenSans-Regular.woff") format("woff"),
		 url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Semibold.eot");
	src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/OpenSans-Semibold.woff2") format("woff2"),
		 url("../fonts/OpenSans-Semibold.woff") format("woff"),
		 url("../fonts/OpenSans-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		 url("../fonts/OpenSans-Bold.woff") format("woff"),
		 url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Rubik Mono One";
	src: url("../fonts/RubikMonoOne-Regular.eot");
	src: url("../fonts/RubikMonoOne-Regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/RubikMonoOne-Regular.woff2") format("woff2"),
		 url("../fonts/RubikMonoOne-Regular.woff") format("woff"),
		 url("../fonts/RubikMonoOne-Regular.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}